<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="with=device-width, initial-scale=1.0">
<title> An interactive Webapp for Sentiment analysis </title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,800;1,300;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <section class="sub-header">    
      <nav>
          
          <div class= "nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                <li><a href="index.html" > HOME</a></li>
                <!--<li><a href="Blog.html"> BLOG</a></li>-->
                <li><a href="Services.html">SERVICES</a></li>
                <li><a href="about.html"> ABOUT</a></li>
                <li><a href="contact.html"> CONTACT</a></li>
              </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1>About Us</h1>
</section>

<!------------------------about us content--------->
<section class="about-us">
    
       
        <h1>MEET THE CREATORS </h1>
        
             
       
       
    <div class="about-row">
        <div class="about-col">
            <h3>Chaitanya Kulkarni<br>
                USN: 1DS18EC019
            </h3>
            <img src="../static/images/chaitanya.jpg">
        </div>
        <div class="about-col">
            <h3>Shruthi S<br>
                USN: 1DS18EC088</h3>
            <img src="../static/images/Photo.jpg">
        </div>
        <div class="about-col">
            <h3>Cliston Jude Martis<br>
                USN: 1DS18EC021</h3>
            <img src="../static/images/cliston.jpeg">
        </div>
        <div class="about-col">
            <h3>Samrudh M<br>
                USN: 1DS18EC079</h3>
            <img src="../static/images/samrudh.jpeg">
        </div>
            
    </div>
        
    
</section>

<!-------------footer------------------------
 <section class="footer">
    <h4>About Us</h4>
    -<p>A paragraph is a series of related sentences developing<br>
        a central idea, called the topic.
    </p>-----
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
 </section>---->










<!--------JAVASCRIPT for toggle Menu--------------->

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200px";
    }
</script>

</body>
</html>

