

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="with=device-width, initial-scale=1.0">
<title> An interactive Webapp for Sentiment analysis </title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,800;1,300;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<script>

    const userAction = async () => {
        var q = document.getElementById("searchbox").value;
        const response = await fetch('http://127.0.0.1:8000/api-search',{
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({"q":q})
        });
        const myJson = await response.json(); //extract JSON from the http response
        result =JSON.stringify(myJson, undefined, 2);
        var t = JSON.parse(result);
        var r =t["res"];
        document.getElementById("result").textContent = r["res"]
    }



</script>
<style>
#searchbox{
    border-radius: 5px;
    border: 1px solid cadetblue;
    box-shadow: 1px 1px cornsilk;
    padding: 2px;
}
</style>
<body>
  <section class="sub-header">
      <nav>

          <div class= "nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                <li><a href="index.html" > HOME</a></li>
                <!--<li><a href="Blog.html"> BLOG</a></li>-->
                <li><a href="Services.html">SERVICES</a></li>
                <li><a href="about.html"> ABOUT</a></li>
                <li><a href="contact.html"> CONTACT</a></li>
              </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1>Restaurant Review</h1>
</section>
<!-----------Restaurant page content-------------------------->
<section class="restaurant-content">
    <br>

            <h1> AI for Hotels and Restaurants review</h1>

<br>



<center>
    <input id = 'searchbox' name="search_key" placeholder="Search">
    <button onclick="userAction()">Click here</button>
    </center>
    <center>
        <div id="result">

    </div>
    </center>



           <!----- <div class="restaurant-comment-box">
                <h3>Enter restaurant review to check its goodness</h3>
                <form class="restaurant-comment-form">
                    <input type="text" placeholder="Enter your name">
                    <input type="email" placeholder="Enter your email">
                    <input type="text"  placeholder="Enter the restaurant review">
                    <button type="submit" class="hero-btn red-btn">SUBMIT</button>

                </form>
            </div>
        </div>
        <div class="res-blog-right">
            <h3> Categories</h3>
            <div>
                <span> Postive</span>

            </div>
            <div>
                <span> Negative</span>

            </div>
            <div>
                <span>Neutral</span>

            </div>

        </div>

    </div>
</section>



-----------footer------------------------
 <section class="footer">
    <h4>About Us</h4>
    <p>A paragraph is a series of related sentences developing<br>
        a central idea, called the topic.
    </p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
 </section>---->










<!--------JAVASCRIPT for toggle Menu--------------->

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200px";
    }
</script>

</body>
</html>

